# Copy this file to .env and fill in your values

# Express
PORT=5000
CLIENT_URL=http://localhost:3000

# MongoDB
MONGODB_URI=mongodb://localhost:27017/schedule-manager

# ClickHouse
CLICKHOUSE_URL=https://your-instance.region.gcp.clickhouse.cloud:8443
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=_vAF_AI6Yzxow
CLICKHOUSE_DB=default
